body {
	margin-left: 2px; margin-top:10px;
	font-size:x-large;
	color:#333333;
	line-height: 100%;
	overflow: hidden;
	background-color:#006699;
	color:#FFFFFF;
}

li {
	list-style-type: none;
	color:#FFFFFF;
}

a {
	text-decoration:none;
}

a:link {
	color: #333333;
}
a:visited {
	color: #333333;
}
a:hover {
	color: #333333;
}

.bg {
position:absolute;
left:0px;
top:10px;
width:200px;
height:200px;
}

.selected {
	color:#FF0000;
}

.list {
	width: 400px;
	line-height: 100%;
	overflow:hidden;
}

.list_postfix {
	font-size:small;
}